{% extends "base.html" %}
{% block content %}
<form action="/results" method="post">
    <p>
        <label for="place">Place</label><br>
        <input type="text" name="place" id="place">
    </p>
    </p>
    <label for="max_results">Maximum number of results</label><br>
    <input type="number" name="max_results" id="max_results" value="10">
    </p>
    </p>
    <label for="radius">Radius within which to return results (in miles)</label></br>
    <input type="number" name="radius" id="radius" value="2">
    </p>
    </p>
    <label for="sort">Sort results (longest-article-first)?</label>
    <input type="checkbox" name="sort" id="sort" value="True">
</p>
<p><input type="submit" value="SUBMIT"></p>
</form>
{% endblock %}
