{% extends "base.html" %}
{% block content %}
<form action="/results" method="post">
    <p>
        <label for="color">1. What color are your veins?</label><br>
        <select name="color" id="color">
    <option value="blue/purple">blue/purple</option>
  <option value="yellow/green">yellow/green</option>
            <option value="I can't tell">I can't tell</option>
</select>
    </p>
    </p>
        <label for="style">2. Select a style!</label><br>
        <select name="style" id="style">
    <option value="streetwear">streetwear</option>
  <option value="soft girl">soft girl</option>
            <option value="athleisure">athleisure</option>
            <option value="casual">casual</option>
            <option value="business casual">business casual</option>
            <option value="formal">minimalistic</option>
    </p>
<p><input type="submit" value="SUBMIT"></p>
</form>
{% endblock %}
